# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Database
*.db
*.sqlite

# Logs
*.log

# Celery
celerybeat-schedule

# Data files
data
